[submodule "redhat-opentelemetry-collector"]
	path = redhat-opentelemetry-collector
	url = https://github.com/os-observability/redhat-opentelemetry-collector.git
[submodule "opentelemetry-operator"]
	path = opentelemetry-operator
	url = https://github.com/open-telemetry/opentelemetry-operator.git
